.list {
  align-content: center;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh; 
  justify-content: center;
  width: 65vw; 
}

.li-item {
  color: #22577a;
  font-weight: 700;
  height: 20vh;
  line-height: 2;
  margin: 5%;
  width: 20vw;
}

.saved-title {
  text-align: center;
  font-size: 35px;
  color: #00a896;
}