.home-link {
  font-size: 4em;
}

.home-about {
  font-size: 2em;
  font-weight: 700;
  color: #386641;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  width: 65vw;
}
